{%- extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<div class="container">
    <div class="row" style="margin-top:100px;">

		<div class="container">
			<div id="table-scroll">
				<table data-role="table"  class="table table-striped table-bordered" id="dashboardTable" data-filter="true" data-input="#filterTable-input">
				 <thead><tr><th>Opportunity</th><th>Location</th><th>Contact</th><th>Date</th><th>Time</th></tr></thead>
				   <tbody>
				   {% for row in x %}
				 <tr>
					 <td><a href="#">{{ row['opportunity']}}</a></td>
				  <td>{{ row['location'] }}</td>
				  <td>{{ row['contact'] }}</td>
				  <td>{{ row['date'] }}</td>
				  <td>{{ row['time'] }}</td>
				  </tr>
				 {% endfor %}
				   </tbody>
			   </table>
			</div>

    	</div>
</div>


{% endblock %}

